.wrapper{
    width: 400px;
    display: block;
    margin: 0 auto;
}
.wrapper form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper form input[type='text']{
    width: 250px;
    height: 30px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
}    
.wrapper form input[type='submit']{
    background: transparent;
    border: 2px solid #54c8ff;
    width: 145px;
    color: #54c8ff;
    cursor: pointer;
}    
.wrapper form input[type='submit']:hover{
   background: lightslategrey;
}   

#user-info{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}